.navbar {
    display:flex;
    flex-wrap:wrap;
    justify-content: center;
    background-color: transparent;
    overflow: hidden;
    font-family:cursive;
    font-size: 3em;
  }


  .navbar a {
    float: left;
    color: black;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
    font-size: 17px;
    font-family: cursive;
  }
  .navbar a:hover {
    background-color: goldenrod;
    color: black;
    font-family:cursive;
  }

.parallax {
  background-image:radial-gradient(white, lightblue);

  height: 900px;

  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}
  .countries-to-visit {
      text-align: center;
      font-family: cursive;
      font-style: italic;
      color: white;
      font-family:cursive;
      padding-top: 1em;
  }

  .countries {
      display: flex;
      flex-wrap: wrap;
      /* border: 1px solid pink; */
      justify-content: space-evenly;
      flex-basis: 35%;
      font-family: cursive;
  }

  .countries-image {
      /* border: 2px solid black; */
      width: 100%;
      height: 100%;
  }


  .countries h2 {
      text-align: center;
  }

  .islands {
      height: auto; 
      display: block;
      margin-left: auto;
      margin-right: auto;
      width: 1200px;
      box-shadow: 7px 7px lightgrey;
      border-radius: 2em;
  }

  .norway-image {
    box-shadow: 7px 7px lightgrey;
    border-radius:2em;
      margin:auto;
      display:block;
      width:1200px;
      height:auto;
      max-width:100%;

  }


  .countries-cities {
      flex-basis: 15%;
      font-family:cursive;
  }

  .countries-cities h2 {
    text-align:center;
  }

  .countries-landmarks {
      flex-basis: 15%;
      font-family:cursive;
  }

  .countries-landmarks h2 {
      text-align:center;
  }

  .countries-citizens {
      flex-basis: 15%;
      font-family:cursive;
  }

  .countries-citizens h2 {
      text-align: center;
  }

   .logo {
      height: 150px;
      width: 150px;
      border-radius: 50%;
      max-width: 100%;
  }

   .footer {
      text-align: center;
      font-family: cursive;
  }

   .countries-name {
      text-align: center;
      font-size: 4em;
      color: black;
      font-family: cursive;
      font-weight: 900;
  }



   .japan-image {
      box-shadow: 7px 7px lightgrey;
      margin-left: auto;
      margin-right: auto;
      display: block;
      width: 1200px;
      height: auto;
      max-width: 100%;
      border-radius: 2em;
}
   .parallax {
        background-image: radial-gradient(lightblue ,white);

        min-height: 500px;
      
        background-attachment: fixed;
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
      }
    
  .countries-name {
      /* border: 5px solid black; */
      text-align: center;
      font-size: 3em;
      padding-top:1em;

  }
  .iceland-header-pics{
    height: 100%;
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 100%;
    border-radius: 2em;
    box-shadow: 7px 7px lightgrey;
  }
  

  
 .countries-cities {
    font-family: cursive;
}

.countries-landmarks {
    font-family: cursive; 
}

.countries-citizens {
    font-family: cursive;
}

.footer {
    font-family: cursive;
    font-weight: 900;
}

.citizen {
    font-size: 1.2em;
}

.land {
    font-size: 1.2em;
}

.city {
    font-size: 1.2em;
}





